* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://loremflickr.com/1600/900/nature,landscape");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-maior {
    background-color: rgba(0, 0, 0, 0.9);
    width: 450px;
    padding: 20px;
    border-radius: 20px;
}

.input-cidade {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #7c7c7c2b;
    color: #fff;
    font-size: 20px;
    width: calc(100% -100px);
}

.botao {
    padding: 10px;
    border: none;
    background-color: #7c7c7c2b;
    border-radius: 50%;
    margin-left: 8px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.4s;
}

.botao:hover {
    background-color: #7c7c7c;
    transform: scale(1.2);
}